rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regras para a coleção artifacts
    match /artifacts/{appId}/users/{userId}/{document=**} {
      // Permitir leitura e escrita apenas se o usuário estiver autenticado e for o próprio usuário
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Regras padrão - negar acesso a tudo o resto
    match /{document=**} {
      allow read, write: if false;
    }
  }
} 